@keyframes rotate {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}

@keyframes rotate-reverse {
    from {transform: rotate(360deg);}
    to {transform: rotate(0deg);}
}

p{
    margin: 0px;
    padding: 0px;
}